

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

footer ul {
    display: inline;
    list-style: none;
    padding-left: 0px;
}

footer li {
    display: inline;
}