<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="twitter4j" level="INFO" />
    <logger name="at.tuwien.aic.tweetanalysis.preprocessing" level="INFO" />
    <logger name="at.tuwien.aic.tweetanalysis.provider" level="ERROR" />
    <logger name="at.tuwien.aic.tweetanalysis.classifier" level="WARN" />

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>